<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% seo %}

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">GISphere Guide</h1>
    </header>
    <div id="container">
      <p class="tagline">GIS-Info | GISphere | GISource | GISpace | GISalon</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          {% if site.show_downloads %}
          <a href="https://gisphere.github.io" class="button"><span>Homepage</span></a>
          <a href="https://gisphere.github.io/pages/about" class="button"><span>About</span></a>
          <a href="https://gisphere.github.io/pages/authors" class="button"><span>Authors</span></a>
          {% endif %}
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
      {% if site.github.is_project_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> maintains <a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></p>
      {% endif %}

       {% if site.github.is_user_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="https://raw.githubusercontent.com/gisphere/gisphere.github.io/master/img/logo.JPG" width="48" height="48"></a>GitHub仓库： <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}

      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <p class="name"></p>
  </div>

</body>
</html>
